.display {
    margin: 5px;
}

.display table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.display th, td {
  text-align: left;
  padding: 8px;
}

.display tr:nth-child(even){background-color: #f2f2f2}